@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* index.html */
.main-container{
    background: url("https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")no-repeat center/cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#title {
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    
}
.subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}
.logo {
    width: 150px;
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}
.recipe {
    width: 350px;
    margin-bottom: 2rem;
    margin: 2rem;
}
img {
    width: 100%;
}

/* recipes */
.recipe-container {
    display: flex;
    margin: 3rem;
}
.right-panel {
    box-shadow: 5px 10px 18px #888888;
    height: fit-content;
}
