* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

/* index.html */
h1 {
    text-align: center;
    margin: 10rem;
    
}
.recipes-container {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}
.recipe {
    width: 350px;
    margin-bottom: 2rem;
    margin: 2rem;
}
img {
    width: 100%;
}